*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus-visible {
  outline: none;
}

html {
  block-size: 100%;
}

/* ========================= */
/*    ОСНОВНОЙ КОНТЕЙНЕР     */
/* ========================= */

.page {
  display: flex;
  justify-content: center;
  align-items: center;
 
  margin: auto;
  padding: 0 30px;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}




/* ========================= */
/*           СКРОЛ           */
/* ========================= */

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

/* ========================= */
/*           ВИДЕО           */
/* ========================= */

.result {
  margin-top: auto;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom right;
}


/* ========================= */
/*           ФОРМА           */
/* ========================= */

.search-form__fieldset {
  border: none;
}

.search-form__label {
  display: flex;
  width: fit-content;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__fieldset-title {
  padding-bottom: 5px;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
}

.search-form__textfield {
  width: 225px;
  border: none;
  border-top: 1px solid white;
  border-right: 1px solid transparent;
  border-bottom: 1px solid white;
  border-left: 1px solid transparent;
  color: white;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.search-form__textfield:active {
  border-right-color: white;
  border-left-color: white;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.search-form__label {
  display: flex; 
  align-items: center; 
  gap: 5px; 
  cursor: pointer;
}

.search-form__label .search-form__label-text:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}



.search-form__pseudo-checkbox {
 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  border: 1px solid transparent;
  outline: 1px solid white;
  background-color: transparent;
  cursor: pointer;
}

/* Стилизация внутреннего квадрата при :checked */
.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  width: 19px;
  height: 19px;
  border: 1px solid transparent;
  background-color: white;
}

.search-form__label:has(:not(:active):focus-visible) {
  outline: 1px white solid;
  text-underline-offset: 2px;
}

.button {
  border: 1px solid white;
  color: white;
  font-family: Fira Sans Condensed, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2em;
  letter-spacing: 0%;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  height: 34px;
}

.button:active {
  background-color: rgba(84, 80, 80, 1);
}

.button:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

.search-form__submit-button {
  width: 194px;

}

.more-button {
  width: 399px;
 
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}


/* ========================= */
/*          СПИСОК           */
/* ========================= */

.title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 0.94em;
  text-transform: uppercase;
}

.content {
  display: grid;
  flex-grow: 1;
  grid-template-columns: 711px 1fr;
  align-items: center;
  gap: 30px;
}

.content__accent {
  color: rgba(84, 80, 80, 1);
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 22px;
  inline-size: 100%;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-container {
  position: relative;
  max-height: 298px;
  overflow: auto;
}

.content__list-item {
  padding: 0 2px;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  flex-grow: 0;
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
  flex-basis: 0;
  overflow: hidden;
}

.content__card-link {
  display: block;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.content__video-card-title {
  width: 196px;
  overflow: hidden;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1em;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content__video-card-description {
  display: inline-block;
  display: -webkit-box;
  margin-top: 6px;
  overflow: hidden;
  line-height: 0.9em;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  
}

.content__card-link_current {
  background-color: rgba(84, 80, 80, 1);
}

.content__card-link:active {
  background-color: rgba(84, 80, 80, 1);
}

.content__card-link:hover .content__video-card-title,
.content__card-link:hover .content__video-card-description {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

.content__list-item .content__card-link :focus-visible {
  outline: 1px solid white;
  outline-offset: -1px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
